{% import '_includes/forms' as forms %}
{% set value = value ?: null %}

<div data-preview-image>
    {{ forms.elementSelectField({
		label: "",
		id: "previewImage",
		name: "previewImage",
		viewMode: "list",
		elementType: 'craft\\elements\\Asset',
		selectionLabel: "Add",
		required: false,
		limit: 1,
		elements: [value],
		criteria: { kind: 'image'}
	}) }}
</div>
