<hr/>
<div class="meta"><div id="entry-template-field" class="field lightswitch-field" data-attribute="entry-template">
        <div class="heading">
            <label id="entry-template-label" for="entry-template">Apply Template</label>
        </div>
        <div class="input ltr">
            <button type="button" class="template-modal btn add icon dashed" aria-label="Select" tabindex="0">Select</button>
        </div>
    </div>
</div>
